body {
    background-color: #F0F0F0;
    padding: 20px;
}
h1 {
    color: #8da9c7;
    text-align: center;
    margin-bottom: 20px;
}

#content {
    background-color: #A1E3F9;
    padding: 20px;
    border-radius: 10px;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
label {
    font-weight: 500;
    color: #000;
}
input, select, textarea {
    border: 2px solid #dddbdb;
    box-shadow: 2px 2px 1px #3674B5;
    padding: 14px;
}
input[type = "date"], input[type = "number"] {
    box-sizing: border-box;
}


input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #3674B5;
}